body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #389ac5, #048bb8, #05c5e7);
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 40px;
    border-radius: 16px;
    backdrop-filter: blur(8px);
}

.time {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.8em;
    color: #ffffffb5;
    font-weight: 700;
    letter-spacing: 2px;
}

.date {
    margin-top: -80px;
    margin-left: 9em;
    font-size: 1.1em;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}
