*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.main{
    height: 100%;
    width: 100%;
    background-color: rgb(1, 155, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.main h3{
    background-color: rgb(244, 122, 78);
    padding: 10px 20px;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 1.7em;
}
.container{
    border-radius: 30px;
    height: auto ;
    padding: 20px;
    width: 40rem;
    border: 2px solid rgb(68, 91, 83);
    background-color: rgba(68, 91, 83, 0.434);
}
.container p{
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #fff;
}
.jokebtn{
    height: 2em;
    font-size: 1.5em;
    width: 10em;
    border-top-right-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    background-color: powderblue;
    transition: all ease-in-out 0.3s;
    color: #3d3d3d;
}
.jokebtn:hover{
    background-color: steelblue;
    /* font-size: 1.45em; */
    color: #fff;
}
.copybtn{
    font-size: 1.3em;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: cornsilk;
    border: none;
    transition: all ease-in-out 0.4s;
    color: #092a35;
    font-weight: 700;
    cursor: pointer;
    display: none;
}
.copybtn:hover{
    background-color: springgreen;
}
.copymsg{
    font-size: 1.2em;
    color: #fff ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: none;
    font-weight: 500;
    position: absolute;
    margin-top: -25rem;
}