*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(216, 191, 216, 0.386);
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    border-radius: 50px;
    background-color: tomato;
    height: 30rem;
    width: 50rem;
}
.box h2{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}
.textarea {
    height: 8em;
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff55;
    color: #fff;
    resize: none;
    box-sizing: border-box;
    font-size: 1.5em;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
    white-space: pre-wrap; /* ensures wrapping */
    overflow-wrap: break-word;
}
.textarea::placeholder{
    color: #fff;
}

.searchbtn{
    border-radius: 50px;
    font-weight: 700;
    padding: 1em;
    background-color: mediumseagreen;
    color: #fff;
    font-size: 25px;
    border: none;
}
.searchbtn:hover{
    background-color: rgb(30, 225, 128);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.vowels{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    /* color: springgreen; */
}